.checkbox1{
    margin: 3px;
    border:none;
    background: transparent;
    cursor:pointer;
    padding:6px;
    border-radius:4px;
    text-align: start;
}

.checkbox1:hover{
    background-color: rgb(226, 226, 226);
}