.menu {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 0;
    margin-right: 0;
    padding: 30px;
    background: #f4f4f4;
    height: fit-content;
    width:100%;
    border-radius: 12px;
}
@media(max-width:1000px){
    .menu{
        width: 100%;
        margin:0px;
        margin-bottom: 30px;
        justify-self: flex-end;
        background-color: transparent;
        padding: 0;
        padding-bottom: 20px;
        border-radius: 0px;
        border-bottom: 1px solid gainsboro;
    }
}

@media(max-width:700px){
    .menu{
        width: 84.5%;
        margin:0px;
        margin-bottom: 20px;
        justify-self: flex-end;
        padding: 30px;
        background: #f4f4f4;
        border-radius: 12px;
    }
}

.menu__name{
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  margin-bottom:10px;
}

.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.add_task_input{
    padding: 10px 15px;
    width:90%;
    font-size: 1rem;
    line-height: 1.5em;
    color: #373D41;
    background-color: #FFF;
    border: 1px solid #C5C5C7;
    border-radius: 6px;
    box-shadow: none;
    margin-bottom: 10px;
}

.add__plus{
    font-size:17px;
    font-weight:500;
    margin-right:8px;
}