.edit__container{
    display:flex;
    flex-direction: column;
    width:97%;
    background-color: #f5f5f5;
    margin-top: 5px;
    padding:20px;
    border-radius: 6px;
}

.input{
    margin-top:10px;
    display:flex;
    flex-direction: column;
    width:100%;
}

.add_task_input1, .date_input{
    padding: 10px 15px;
    min-width: fit-content;
    font-size: 1rem;
    line-height: 1.5em;
    color: #373D41;
    background-color: #FFF;
    border: 1px solid #C5C5C7;
    border-radius: 6px;
    box-shadow: none;
    margin-bottom: 10px;
}

.date_input{
    width:180px;
}

@media(max-width:767px){
    .edit__container{
        width:90%;
    }
}